@model AdmissionsWeb.Models.Autoeval_progplan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Autoeval_progplan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgPlan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
